body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background: url('/static/images/home.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 10px;
  min-height: 50vh;
  
}

.contact-box {
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  width: 60%;
  max-width: 1200px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
}

.form-section,
.info-section {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Logo*/
.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  margin-top: 5px;
  /*z-index: 999;*/
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.form-header {
  text-align: center;
  margin-bottom: 20px;
}

form input,
form textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  font-size: 16px;
  border: none;
  border-radius: 12px;
  background-color: #fff;
}

form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form button {
  padding: 15px;
  background-color: #4CAF50;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #45a049;
}

.info-section h1 {
  text-align: center;
  font-size: 2.5rem;
  font-family: 'Georgia', serif;
  margin-bottom: 20px;
}

.info p {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 1.6;
}

.map img {
  width: 100%;
  border-radius: 20px;
  margin-top: 20px;
}

