/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Georgia', serif;
  background-image: url('/static/images/home.jpg'); /* Replace with your actual background image */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #000;
}



 


/* Logo */
.logo {
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
  margin-top: 20px;
   z-index: 10;
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}




/* Navigation */
nav {
  text-align: center;
  /*padding: 0px 0;
  margin-top: 0px; */
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 100px;
  
}

.nav-links a {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #228B22;
}

/* About Card */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 20px;
}

.about-card {
  max-width: 850px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
  padding: 40px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.about-card h2 {
  font-size: 2em;
  margin-bottom: 20px;
  font-family: 'Georgia', serif;
}

.about-card p {
  font-size: 1.1em;
  line-height: 1.6;
}
