* {
  margin: 0;
  padding: 0;
  
  box-sizing: border-box;
  font-family: 'Georgia', serif;
}

body, html {
  height: 100%;
}

.hero {
  background: url('/static/images/main.jpg') no-repeat center center/cover;
  height: 100vh;
  color: white;
  position: relative;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.logo {
  top: 15px;
  left: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  border: none;
  background-color: white;
  color: black;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #e0e0e0;
}


.content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  max-width: 600px;
}

.content h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.2;
 white-space: nowrap;
}

.content h1 span {
  color: #f4f4f4;
}

.content p {
  margin-top: 15px;
  font-size: 1.2rem;
  font-style: italic;
  color: #a95e07fc;
}


/* */
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.section {
  height: 100vh;
  padding: 80px;
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: #0b6623;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
  z-index: 1000;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.veg-list {
  display: flex;
  overflow-x: auto;
  gap: 20px;
}

.veg-card {
  width: 200px;
  text-align: center;
}
