<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Agro Guard - Flood Suggestion</title>
  <link rel="stylesheet" href="../Static/floodsugg.css"/>
</head>
<body>
  <div class="page-container">
    <div class="logo">
      <img src="../images/logo.png" alt="Agro Guard Logo"/>
    </div>

    <div class="analyze-card">
      <h2>Analyzing soil condition</h2>

      <div class="info-row"s>
        <span><strong>Location</strong></span>
        <span>: Vavuniya</span>
      </div>
      <div class="info-row">
        <span><strong>Last Flood Date</strong></span>
        <span>: 31/3/2025</span>
      </div>

      <div class="issues-section">
        <p><strong>Visible Issues</strong></p>
        <label><input type="checkbox" /> Waterlogged</label><br/>
        <label><input type="checkbox" /> Salty Crust</label><br/>
        <label><input type="checkbox" /> Yellowing Leaves</label>
      </div>
      <br><br>
      <button class="analyze-button">
        🔍 Analyze Soil
      </button>
    </div>
  </div>
</body>
</html>
