<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agro Guard - Login</title>
    <link rel="stylesheet" href="{{url_for('static',filename='signup.css')}}" />
  </head>
  <body>
    <div class="login-page">
      <div class="logo-wrapper">
        <img src="{{url_for('static',filename='/images/logo.png')}}" alt="Agro Guard Logo" class="logo" />
      </div>
      <div class="login-form">
        <form action="{{ url_for('signup') }}" method="POST">
             <input type="text" name="username" placeholder="User name" class="input-field" required />
             <input type="password" name="password" placeholder="Password" class="input-field" required />
             <input type="text" name="phone" placeholder="Phone Number" class="input-field" required />
             <input type="text" name="location" placeholder="Location" class="input-field" required />
            <div class="button-wrapper">
              <button class="btn" type="submit">Registration</button>
            </div>
        </form>

      </div>
    </div>
  </body>
</html>
